<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/landing.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


</head>

<body>
    <div id="main">

        <div id="page1">
            <div id="pg1-top">
                <h1>"Turn Thoughts into Words, Beat Overthinking"</h1>
            </div>
            <div id="pg1-mid">
                <p>"Sign up or log in to begin your journey. A simple step to join a community of writers sharing their experiences and tackling overthinking together."</p>
            </div>
            <div id="pg1-bottom">
                <a href="/stories">Get started</a>
            </div>

        </div>

        <div id="page2">
            <div id="pg2-header">
                <h1>
                    "Craft your overthinking into a powerful and inspiring narrative."
                </h1>
            </div>

            <div class="pg2-content">
                <div class="pg2-card">
                    <div class="pg2-crd-top">
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="pg2-crd-mid">
                        <h2>Create Your Account</h2>
                    </div>
                    <div class="pg2-crd-btm">
                        <p>
                            Sign up or log in to begin your journey. A simple step to join a community of writers
                            sharing their experiences and tackling overthinking together.
                        </p>
                    </div>
                </div>
                <div class="pg2-card">
                    <div class="pg2-crd-top">
                        <i class="ri-pencil-line"></i>
                    </div>
                    <div class="pg2-crd-mid">
                        <h2>"Write and Upload"</h2>
                    </div>
                    <div class="pg2-crd-btm">
                        <p>
                            "Craft your thoughts into a story and upload it to inspire others. Writing is a powerful habit that helps clear your mind and connect with like-minded individuals."
                        </p>
                    </div>
                </div>
                <div class="pg2-card">
                    <div class="pg2-crd-top">
                        <i class="ri-article-line"></i>
                    </div>
                    <div class="pg2-crd-mid">
                        <h2>"Read, Like, and Comment"</h2>
                    </div>
                    <div class="pg2-crd-btm">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.loremg5rtyh tyhtft4erg tfdghr gy5etgrsdgtrhtrrg yuyh5e3
                            Quisquam, quos.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="page3">
            <div id="pg3-content">
                <div class="pg3-content-left">
                    <img src="https://c.stocksy.com/a/3oV300/z9/837251.jpg" alt="" />
                </div>
                <div class="pg3-content-right">
                    <h1>write your own story and publish for others</h1>
                    <p>
                        "Feeling overwhelmed? You’re not alone. When thoughts become too
                        much to handle, sometimes writing them down can make all the
                        difference. This is a place to let go, clear your mind, and find
                        comfort in expressing what's on your mind."
                    </p>
                    
                    <a href="/stories"><button>Get started</button></a>
                </div>
            </div>
        </div>

        <div id="page4">
            <!-- <div class="pg4-img-container"> -->
            <!-- <img src="./img/books-stack-of-three.png" alt="story image" class="pg4-img-left">
                <img src="./img/fountain-pen-close-up.png" alt="story image" class="pg4-img-center">
                <img src="./img/thought-leadership.png" alt="story image" class="pg4-img-top">
                <img src="./img/quill-drawing-a-line.png" alt="story image" class="pg4-img-bottom">
             -->
            <div class="pg4-header">
                <h1> "quotes"</h1>
            </div>
            <div id="pg4-card-slide">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>ho raha hnu mein kis tarha barbaad dekh ne wale hat malte
                                        hain</q>
                                    <blockquote>Joun Elia</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://i.tribune.com.pk/media/images/IMG_20211222_1440591640166076-0/IMG_20211222_1440591640166076-0.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>I am free and that is why I am lost.</q>
                                    <blockquote>Franz Kafka</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Franz_Kafka%2C_1923.jpg/220px-Franz_Kafka%2C_1923.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>Creativity is the greatest rebellion in existence.</q>
                                    <blockquote>Sree Rajneesh Osho</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://www.tallengestore.com/cdn/shop/products/Osho-HD-PIC-WSW3089859_3dcc231f-ab30-4273-b826-145b9e771845.jpg?v=1520689455"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>But how could you live and have no story to tell?</q>
                                    <blockquote>Fyodor Dostoevsky</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Vasily_Perov_-_%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%A4.%D0%9C.%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_-_Google_Art_Project.jpg/800px-Vasily_Perov_-_%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%A4.%D0%9C.%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_-_Google_Art_Project.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>Don’t walk in front of me… I may not follow
                                        Don’t walk behind me… I may not lead
                                        Walk beside me… just be my friend</q>
                                    <blockquote>Albert Camus </blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://media.newyorker.com/photos/5909675d019dfc3494ea0dd0/master/w_1920,c_limit/120409_r22060_g2048.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>The philosophers have only interpreted the world in various ways the point is to
                                        change it.</q>
                                    <blockquote>Karl Marx</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Karl_Marx_001_%28rotated%29.jpg/220px-Karl_Marx_001_%28rotated%29.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="swiper-slide">

                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>Only the dead have seen the end of war.</q>
                                    <blockquote>Plato</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://www.greeka.com/photos/greece-history/famous-people/plato/hero/plato-1280.webp"
                                            alt="" />
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>Jo Geet tum ne suni nehi wo mera umar bhar ka riaaz tha , Jo tum ne hasi main
                                        udaa diaa </q>
                                    <blockquote>Amjad islam amjad</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://imgcdn.pakistanpoint.com/media/2017/11/_3/730x425/pic_1511869769_1.jpg"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-card-center">
                                <div class="swiper-top">
                                    <q>Do you think that I count the days? There is only one day left, always starting
                                        over: it is given to us at dawn and taken away from us at dusk. </q>
                                    <blockquote>jean-paul sartre</blockquote>
                                </div>
                                <div class="swiper-bottom">
                                    <div class="swiper-writer-img">
                                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSrJrHGiu3TsOfB4OhzBhGSCNdbI7bJFAPbbwpHxxWTpqbXp9io"
                                            alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>


        

   





    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script> 


    <script>// Initialize Lenis
        const lenis = new Lenis({
            duration: 2
        });
        
        // Use requestAnimationFrame to continuously update the scroll
        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }
        
        requestAnimationFrame(raf);</script>
    <script>
       
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });



    </script>
</body>


</html>